html {  
    scroll-behavior: smooth;  
}
.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;

    top: 100rem;
    height: 17rem
}
h1 {
    position: absolute;
    color: black;
    font-size: 3.5rem;
    text-align: center;
    top: 15rem;
    margin-left: auto;
    margin-right: auto;
    width: 50%
}
div.dropdown {
    position: relative;
    top: -10rem
}
body {
    background-color: tan;
    font-family: 'Oswald', sans-serif;
}
#start {
    padding-top: 10rem;
    text-align: center;
    padding-bottom: 10rem;
}
#join {
    padding-top: 10rem;
    text-align: center;
    padding-bottom: 10rem;
}
#paid {
    padding-top: 10rem;
    text-align: center;
    padding-bottom: 10rem;
}
p {
    font-size: 4rem;
    margin: 0%;
    text-align: center;
}
.buttondrp {
    border: none;
    background-color: inherit;
}
.money {
    position: absolute;
    top: 10rem;
    height: 5rem;
    animation: startjiggle 0.5s ease;
    padding-right: 2rem;
}
.dropdown-inside {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    top: 10rem;
    right: 88.5%;
}
.dropdown-inside a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
@keyframes startjiggle {
    0% {
        transform: translateX(0);
    }
    10% {
        transform: translateX(-5px);
    }
    20% {
        transform: translateX(5px);
    }
    30% {
        transform: translateX(-3px);
        height: 6rem;
    }
    40% {
        transform: translateX(3px);
    }
    50% {
        transform: translateX(0);
    }
}
@keyframes jiggleAnimation {
    0% {
        transform: translateX(0);
    }
    10% {
        transform: translateX(-5px);
    }
    20% {
        transform: translateX(5px);
    }
    30% {
        transform: translateX(-3px);
        height: 6rem;
    }
    40% {
        transform: translateX(3px);
    }
    50% {
        transform: translateX(0);
    }
}
.money:hover {
    animation: jiggleAnimation 0.5s ease;
}
.dropdown-inside a:hover {background-color: #ddd;}
body {
    animation: fadeInAnimation ease .5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}
#startinfo {
    font-size: 3rem;
    text-align: center;
    font-family: 'Lato', sans-serif;
}
#joininfo {
    font-size: 3rem;
    text-align: center;
    font-family: 'Lato', sans-serif;
}
#paidinfo {
    font-size: 3rem;
    text-align: center;
    font-family: 'Lato', sans-serif;
    padding-bottom: 10rem;
}
.actualinfo {
    position: relative;
    padding: 6%;
    font-size: 3rem;
    font-family: 'Lato', sans-serif;
    text-align: center;
}
@media (hover: none) {
    .dropdown-inside {
        display: block;
        position: absolute;
        background-color: #f1f1f1;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
        top: 10rem;
        right: 103rem;
    }
}
#discordlogo {
    width: 100px;
}
